html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
body {
  background: #c2e59c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f4f4f4 , #e9e9e9); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f4f4f4 , #e9e9e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#content {
  background: white;
  .callout:first-child {
    border-width: 0px;
  }
}

ul.menu li.active {
  background: #e9e9e9;
}

#content {
  border-radius: 0 0 3px 3px;
}
#toc2select {
  border-radius: 3px;
}

#content {
  .hollow {
    border-radius: 3px;
  }
}

#js-toc {
  select {
    @extend .input-group-field;
    border-radius: $global-radius;
  }
  .input-group-label {
    color: #737373;
    background-color: transparent;
    border: 0;
  }
}

.header {
  .input-group {
    margin-bottom: 0;
  }
}
.callout {
  border-radius: 0;
}
