// Component navigation menu seen on every page.
//.no-js {
//  @include breakpoint(small only) {
//    .top-bar {
//      display: none;
//    }
//  }
//
//  @include breakpoint(medium) {
//    .title-bar {
//      display: none;
//    }
//  }
//}
/* Top bar */
.top-bar {
  //-webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.45);
  //-moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.45);
  //box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.45);}
  //
  border-bottom: 1px solid #f4f4f4;
}

// toc2select
.toc-label {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.startpage {

  header {
    .top-bar,
    .top-bar ul{
      background: transparent;
      border-width: 0;
    }
  }

  .top-bar-left {
    margin-top: 1em;
    .menu-text {
      display: none;
    }
    .menu > li {
      border-right: 0px solid $primary-color;
      &.active {
        background-color: transparent;
        a{
          color: white;
          background-color: white;
          border-radius: 3px;
        }
      }
      a {
        &.active,
        &:hover,
        &:active,
        &:focus {
          @extend .button;
          @extend .hollow;
          margin-right: 1em;
          color: #737373;
          background-color: white;
          border-radius: 3px;
          border-color: white;
        }
        @extend .button;
        @extend .hollow;
        margin-right: 1em;
        border-radius: 3px;
        color: white;
        border-color: white;
      }
    }
  }
  
}
/*  Top bar left */
#content .top-bar-left {
  .medium-horizontal {
    .menu-text a{
      border-color: white;
      img {
        height: 15px;;
      }
      &:hover {
        border-color: $primary-color;
        transition: border-color 0.3s ease-out;
        background: none;
      }
    }
  }
}
.top-bar-left {

  .menu > li {
    border-right: 0px solid $primary-color;
    &.active {
      background-color: transparent;
      a{
        color: white;
        background-color: $primary-color;
        border-radius: 3px;
      }
    }
    a {
      &.active,
      &:hover,
      &:active,
      &:focus {
        @extend .button;
        @extend .hollow;
        margin-right: 1em;
        color: white;
        background-color: $primary-color;
        border-radius: 3px;
        border-color: $primary-color;
      }
      @extend .button;
      @extend .hollow;
      margin-right: 1em;
      border-radius: 3px;
    }
  }
}


/* Top bar right */
.top-bar-right {
  padding: 10px;
}

/*main-content*/
#main-content {
  h2 {
    &:first-child{
      margin-top: auto;
    }
    margin-top: 1rem;
  }
}

@include breakpoint(small only) {
  #mobile-navigation {
    background: #fff;
    .menu-text {
      
    }
  }

  .top-bar-left .menu li a{
    width: 100%;
    margin: 0;
  }
}
